.personal-container{
    
    &__row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 3rem;
    }

    &__h2{
        @extend %slogan;
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }

    &__p{
        text-align: center;
        max-width: 45ch;
        opacity: 0;
        &.add{
            animation: fadeIn 1s 0.3s ease-in-out forwards;
        }
    }

    &__button{
        width: fit-content;
        @extend %outline;
    }
}