.projectcard{
    max-width: 370px;
    background: #eae9fbe6;
    padding: 0.875rem;
    border-radius: 4px;
    &__img{
        width: 100%;
        height: 200px;
    } 

    &__buttons{
        display: flex;
        flex-direction: row;
        gap:1rem;
    }

    &__footer{
        display: flex;
        flex-direction: column;
    }

    &__list{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__stack{
        padding: 4px 8px;
        border-radius: 4px;
        background: #fd6583;
        color: #fff;
        font-size: 12px;
    }
}