.service-row{
    $self:&;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &.add{
        #{$self}__text-wrapper{
            opacity: 0;
            left: -100px;
            animation: leftSlide 0.8s 0.3s ease-in-out forwards;
        }
        #{$self}__image-wrapper{
            opacity: 0;
            left: 100px;
            animation: rightSlide 0.8s 0.3s ease-in-out forwards;
        }
    }

    @include media-breakpoint-up(sm){
        &--reverse{
            flex-direction: row-reverse;
            &.add{
                #{$self}__text-wrapper{
                    opacity: 0;
                    left: 100px;
                    animation: rightSlide 0.8s 0.3s ease-in-out forwards;
                }
                #{$self}__image-wrapper{
                    opacity: 0;
                    left: -100px;
                    animation: leftSlide 0.8s 0.3s ease-in-out forwards;
                }
            }
        }
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }
    &__text-wrapper,&__image-wrapper{
        @include media-breakpoint-up(sm){
            width: 50%;
        }
    }
    &__img{
        width: 100%;
    }
}