.toolcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background: #eae9fbe6;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    backdrop-filter: blur(13px);
    gap:6px;
    &__img{
        width: 32px;
        height: 32px;
    }

    &__span{
        font-weight: bold;
    }
}


.mytool-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    width: 100%;
    overflow: auto;
    &.add{
        animation: fadeIn 0.8s ease-in-out forwards;
    }
}