@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
$font-family-base:'Manrope', sans-serif;
$blue:#151983;
$light-white: #B6CBE1;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
:root{
    --bs-body-color:#001F3D;
}

.btn-primary{
    color: $light-white;
}
.App{
    background-color: #B6CBE1;
}

%slogan{
    font-weight: bold;
    // font-family: 'PT Sans Caption', sans-serif;
}

%outline{
    padding: 1rem;
    font-weight: bold;
    border-width: 3px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes leftSlide {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rightSlide {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.rikesh{
    &__header{
        @extend %slogan;
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
        opacity: 0;
        letter-spacing: 1.25px;
        &.add{
            animation: fadeIn 0.8s ease-in-out forwards;
        }
    }

    &__btn{
        font-weight: bold;
        padding: 1rem;
        opacity: 0;
        &.add{
            animation: fadeIn 0.8s ease-in-out forwards;
        }
    }

    &__btn-outline{
        @extend %outline;
        opacity: 0;
        &.add{
            animation: fadeIn 0.8s ease-in-out forwards;
        }
    }

    &__column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 3rem;
        margin: 0 auto;
    }

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__h3{
        @extend %slogan;
        color: #fd6583;
    }
}
@import './components/banner';
@import './components//personal';
@import './components/service';
@import './components//toolcard';
@import './components/getmail';
@import './components/footer';
@import './components/projectcard';
@import './components/myprojects';

.form-control{
    padding: 0.7rem 1rem;
    background: #B6CBE1;
}
.form-label{
    font-weight: bold;
    letter-spacing: 2px;
}
.circle{
    display:flex;
    width: 50px;
    height:50px;
    position: absolute;
    border-radius: 50%;
    background: #fd6583;
    transition: all 2s ease-in-out;
}